
@{
    ViewBag.Title = "AddContact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Fashi Template">
    <meta name="keywords" content="Fashi, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fashi | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="~/AdminLTE-3.0.4/fashi/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/AdminLTE-3.0.4/fashi/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/AdminLTE-3.0.4/fashi/css/themify-icons.css" type="text/css">
    <link rel="stylesheet" href="~/AdminLTE-3.0.4/fashi/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/AdminLTE-3.0.4/fashi/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/AdminLTE-3.0.4/fashi/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/AdminLTE-3.0.4/fashi/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="~/AdminLTE-3.0.4/fashi/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/AdminLTE-3.0.4/fashi/css/style.css" type="text/css">
</head>

<body>
    <!-- Breadcrumb Section Begin -->
    <div class="breacrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <a href="/Home/HomePage/"><i class="fa fa-home"></i> Ana Sayfa</a>
                        <span>İletişim</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section Begin -->
    <!-- Map Section Begin -->
    <div class="map spad">
        <div class="container">
            <div class="map-inner">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d48158.305462977965!2d-74.13283844036356!3d41.02757295168286!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2e440473470d7%3A0xcaf503ca2ee57958!2sSaddle%20River%2C%20NJ%2007458%2C%20USA!5e0!3m2!1sen!2sbd!4v1575917275626!5m2!1sen!2sbd"
                        height="610" style="border:0" allowfullscreen="">
                </iframe>
                <div class="icon">
                    <i class="fa fa-map-marker"></i>
                </div>
            </div>
        </div>
    </div>
    <!-- Map Section Begin -->
    <!-- Contact Section Begin -->
    <section class="contact-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="contact-title">
                        <h4>Bize Ulaşın</h4>
                        <p>
                            Contrary to popular belief, Lorem Ipsum is simply random text. It has roots in a piece of
                            classical Latin literature from 45 BC, maki years old.
                        </p>
                    </div>
                    <div class="contact-widget">
                        <div class="cw-item">
                            <div class="ci-icon">
                                <i class="ti-location-pin"></i>
                            </div>
                            <div class="ci-text">
                                <span>Adres:</span>
                                <p>YTÜ Teknopark</p>
                            </div>
                        </div>
                        <div class="cw-item">
                            <div class="ci-icon">
                                <i class="ti-mobile"></i>
                            </div>
                            <div class="ci-text">
                                <span>Telefon:</span>
                                <p>+90 0530 123 21 22</p>
                            </div>
                        </div>
                        <div class="cw-item">
                            <div class="ci-icon">
                                <i class="ti-email"></i>
                            </div>
                            <div class="ci-text">
                                <span>Email:</span>
                                <p>mvcproje@gmail.com</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 offset-lg-1">
                    <div class="contact-form">
                        <div class="leave-comment">
                            <h4>Yorum Yap</h4>
                            <p>Our staff will call back later and answer your questions.</p>
                            @using (Html.BeginForm("AddContact", "HomeContact", FormMethod.Post))
                            {
                                <div class="row">
                                    <div class="col-lg-6">
                                        <input type="text" name="UserName" placeholder="Adınız">
                                    </div>
                                    <div class="col-lg-6">
                                        <input type="text" name="UserMail" placeholder="Email">
                                    </div>
                                    <div class="col-lg-12">
                                        <textarea name="Message" placeholder="Mesajınız"></textarea>
                                        <button type="submit" class="site-btn">Gönder</button>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Section End -->
    <!-- Js Plugins -->
    <script src="~/AdminLTE-3.0.4/fashi/js/jquery-3.3.1.min.js"></script>
    <script src="~/AdminLTE-3.0.4/fashi/js/bootstrap.min.js"></script>
    <script src="~/AdminLTE-3.0.4/fashi/js/jquery-ui.min.js"></script>
    <script src="~/AdminLTE-3.0.4/fashi/js/jquery.countdown.min.js"></script>
    <script src="~/AdminLTE-3.0.4/fashi/js/jquery.nice-select.min.js"></script>
    <script src="~/AdminLTE-3.0.4/fashi/js/jquery.zoom.min.js"></script>
    <script src="~/AdminLTE-3.0.4/fashi/js/jquery.dd.min.js"></script>
    <script src="~/AdminLTE-3.0.4/fashi/js/jquery.slicknav.js"></script>
    <script src="~/AdminLTE-3.0.4/fashi/js/owl.carousel.min.js"></script>
    <script src="~/AdminLTE-3.0.4/fashi/js/main.js"></script>
</body>

</html>



